.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  
  .section {
    display: grid;
    gap: 4px;
    gap: 10px;
  }
  
  .title {
    margin: 0;
    font-size: 19px;
  }